.case_study_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.case_study {
  width: 95%;
  max-width: 920px;
  border-radius: 5px;
  overflow: hidden;
  padding: 3em;
  background-color: rgb(207, 205, 205);
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.38);  
}

.case_study header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.case_study header h2 {
  font-size: 7rem;
  margin: 0;
  color: rgba(0 0 0 /.15);
}

.case_study header .close {
  font-size: 2.4rem;
  color: rgba(0 0 0 /.6);
  cursor: pointer;
}

.case_study_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -3rem;
}

.video {
  width: 350px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.38); 
}

.links {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  padding: .75em 1.25em;
  width: 150px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github_icon {
  font-size: 1.6rem;
}

.project {
  margin-left: 5rem;
}

.project__info {
  margin: 1.5rem 0;
}

.project__info h3{
  color: rgba(60, 146, 165, 1);
}

@media screen and (max-width: 900px) {
  .case_study_container {
    height: auto;
  }

  .case_study {
    margin-top: 50rem;
  }
  
  .case_study_wrapper {
    flex-direction: column;
    margin-top: 8rem;
  }

  .project {
    margin-top: 3rem;
    margin-left: 0;
  }
}

@media screen and (max-width: 560px) {
  .case_study {
    padding-left: 1em;
    padding-right: 1em;
  }
  
  .case_study header h2 {
    font-size: 3rem;
  }

  .video {
    width: 300px;
  }

  .links {
    flex-direction: column;
    width: 100%;
  }

  .link {
    width: 300px;
    margin-top: 1rem;
  }
}