.circle {
  width: 850px;
  height: 800px;
  position: absolute;
  top: 90px;
  right: -80px;
  border: 5px solid rgba(255, 255, 255, .2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.watermark {
  margin-top: 25rem;
  margin-left: -7rem;
  text-align: center;
  line-height: 1.2;
  color:rgba(255, 255, 255, .05);
  font-size: 8rem;
  transform: rotate(-35deg);  
}

/*  Breakpoints:
      Desktop 1920
      Laptop  1280
      Tablet  768
      Mobile  375
*/

@media screen and (max-width: 1280px) {
  .circle {
    width: 700px;
    height: 700px;
  }

  .watermark {
    font-size: 6rem;
  }
}

@media screen and (max-width: 768px) {
  .circle {
    display: none;
  }
}

