.modal_container {
  width: 100%;
  position: absolute;
  top: 25%;
  left: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.form_modal {
  width: 90%;
  max-width: 400px;
  z-index: 100;
  overflow: hidden;
  background-color: rgba(60, 146, 165, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-radius: 5px;
}

.form_modal:hover, .modal_container:hover {
  pointer-events: none;
}

.form_modal .success {
  width: 125px;
  height: 125px;
  color: rgb(37, 185, 37)
}

.form_modal h2 {
  margin-top: 2rem;
  font-size: 4rem;
  color: white;
}

.form_modal p {
  margin-top: 2rem;
  color: white;
}