*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

html, body {
  font-weight: 400;
  line-height: 1;
  width: 100vw;
  height: 100vh;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-size: 1.6rem;
  /* overflow: hidden; */
}

ul, li {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea {
  font: inherit;
  letter-spacing: 2px;
}

/* Custom Global Classes */
.main_container {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

/*  Breakpoints:
      Desktop 1920
      Laptop  1280
      Tablet  768
      Mobile  375
*/