* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-weight: 400;
  line-height: 1;
  width: 100vw;
  height: 100vh;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  overflow: hidden;
}

ul {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea {
  font: sans-serif;
  letter-spacing: 2px;
}

/* Custom Global Classes */
.main-container {
  width: 100%;
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
}