blockquote {  
  padding: 0 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(60, 146, 165, 1);
  color: white;    
  
}

 blockquote p {
  line-height: 1.75;
}

 blockquote small {
  margin-top: 2rem;
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  blockquote {
    background-color: rgba(60, 146, 165, 1);
    padding: 2rem;
  }
}