.icon_wrapper {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.icon_wrapper:nth-child(2) {
  margin: 4.5rem 0;
}

.icon {
  color: black;
  font-size: 2.5rem;
}

.icon_wrapper:hover {
  background-color: rgba(60, 146, 165, 1);
}

.icon_wrapper:hover .icon {
  color: white;
}

/*  Breakpoints:
      Desktop 1920
      Laptop  1280
      Tablet  768
      Mobile  375
*/

@media screen and (max-width: 1280px) {
  .icon_wrapper {
    width: 40px;
    height: 40px;
  }

  .icon {
    font-size: 2rem;
  }  
}

@media screen and (max-width: 768px) {
  .icon_wrapper:nth-child(2) {
    margin: 0 2em;
  }
}