.tech {
  padding: 10rem 12.4rem 15rem;
  text-align: right;
  background-color: rgba(20, 35, 60, .5);
  position: relative;
  width: 100%;
}

.top_page_icon_wrapper {
  width: 5rem;
  position: absolute;
  right: 7rem;  

}

.top_page_icon {
  position: fixed;
  bottom: 5rem;  
  z-index: 999;
}

.tech h2 {
  font-family: "Poppins", sans-serif;
  font-size: 14.4rem;
  color: rgba(255, 255, 255, .2);
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 15rem;
}

.tech_icons {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 1450px) {
  .tech {
    padding: 5rem;
    padding-left: 12rem;
    text-align: right;
  }

  .tech h2 {
    font-size: 7rem;
    margin-right: 5rem;
    margin-bottom: 4rem;
  }

  .tech_icons {
    padding-bottom: 8rem;
  }
}

@media screen and (max-width: 800px) {
  .tech {
    padding-left: 5rem;
  }

  .top_page_icon_wrapper, .top_page_icon {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .tech {
    padding: 7.5rem 2rem 10rem 2rem;    
  }
  
  .tech h2 {
    font-size: 5rem;
    margin-bottom: 3rem;
    margin-right: 0;
    text-align: center;
  }

  .tech_icons {
    margin-top: 2rem;
    padding: 0 3rem;
  }
}

@media screen and (max-width: 465px) {
  .tech {
    padding-bottom: 8rem;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .tech h2 {
    font-size: 3.75rem;
    margin: 0;
  }  

}

@media screen and (max-width: 359px) {
  .tech {
    padding: 3em .5em;
  }
  
  .tech h2 {
    font-size: 3rem;
  }

  .tech_icons {
    margin-bottom: 3rem;
  }
}